body {
 background-color:#cdfff0;
 color:rgb(0, 0, 0);
 font-family:"Sevillana", cursive;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 700px;
 margin: 0;
}

button{
    background-color: white
    color: white;
    font-family: "Sevillana", cursive;
}

.passo{
display:none;
}

.passo.ativo{
    display:block;
}

main{
    text-align: center;
    max-width:90%;
}

img{
    max-width:90%;
}